APP_ID=
API_SECRET=
DJANGO_SECRET_KEY=
DJANGO_DEBUG_MODE=
BOT_TOKEN=
CHAT_ID=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_TYPE=
DB_HOST=
DB_PORT=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_STATIC_ROOT=
DJANGO_MEDIA_ROOT=
TOSS_SECRET_KEY=
BACKEND_PUBLIC_URL=
FRONTEND_PUBLIC_URL=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox
BUSINESS_RU_STORE_NAME=Тест склад 1
# KZ склад 936507; тестовый 2787290
BUSINESS_RU_INVENTORY_STORE_ID=936507
BUSINESS_RU_INVENTORY_CURRENCY_ID=7
BUSINESS_RU_KZ_PURCHASE_PRICE_TYPE_ID=936485
BUSINESS_RU_KZ_PRICE_TYPE_WHOLESALE_SMALL=1058601
BUSINESS_RU_KZ_PRICE_TYPE_WHOLESALE_MEDIUM=1709914
BUSINESS_RU_KZ_PRICE_TYPE_WHOLESALE_LARGE=1058605
BUSINESS_RU_KZ_PRICE_TYPE_RETAIL=936503
BUSINESS_RU_INVENTORY_WAREHOUSE_CODE=KZ
CRM_STOCK_URL=https://crm.evacode.kz/api/v1/evacodeorg/stock
CRM_STOCK_TOKEN=
BUSINESS_RU_STATUS_ID=273
BUSINESS_RU_ORGANIZATION_ID=
BUSINESS_RU_EMPLOYEE_ID=
BUSINESS_RU_CURRENT_ACCOUNT_ID=
BUSINESS_RU_PAYMENT_OPERATION_ID=
BUSINESS_RU_PAYMENT_OPERATION_NAME=Оплата от покупателя