APP_ID=
API_SECRET=
DJANGO_SECRET_KEY=
DJANGO_DEBUG_MODE=
BOT_TOKEN=
CHAT_ID=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_TYPE=
DB_HOST=
DB_PORT=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_STATIC_ROOT=
DJANGO_MEDIA_ROOT=
TOSS_SECRET_KEY=
BACKEND_PUBLIC_URL=
FRONTEND_PUBLIC_URL=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox
BUSINESS_RU_STORE_NAME=Тест склад 1
BUSINESS_RU_STATUS_ID=273
BUSINESS_RU_ORGANIZATION_ID=
BUSINESS_RU_EMPLOYEE_ID=
BUSINESS_RU_CURRENT_ACCOUNT_ID=
BUSINESS_RU_PAYMENT_OPERATION_ID=
BUSINESS_RU_PAYMENT_OPERATION_NAME=Оплата от покупателя