export default [
  { UserAgent: '*' },
  { Disallow: '/account/' },
  { Disallow: '/page/account/cart' },
  { Disallow: '/page/account/checkout' },
  { Disallow: '/page/order-success' },
  { Disallow: '/page/consult' },
  { Disallow: '/page/consult-success' },
  { BlankLine: true },
  { Sitemap: 'https://www.evacode.org/sitemap.xml' },
]
